<?xml version="1.0"?>
<config>
	<modules>
		<BD_BetterContact>
			<version>0.1.0</version>
		</BD_BetterContact>
	</modules>
	<frontend>
		<routers>
			<bettercontact>
				<use>standard</use>
				<args>
					<module>BD_BetterContact</module>
					<frontName>bettercontact</frontName>
				</args>
			</bettercontact>
		</routers>
		<translate>
			<modules>
				<BD_BetterContact>
					<files>
						<default>BD_BetterContact.csv</default>
					</files>
				</BD_BetterContact>
			</modules>
		</translate>
		<layout>
			<updates>
				<bettercontact>
					<file>bettercontact.xml</file>
				</bettercontact>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<bettercontact_setup>
				<setup>
					<module>BD_BetterContact</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bettercontact_setup>
			<bettercontact_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bettercontact_write>
			<bettercontact_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bettercontact_read>
		</resources>
		<helpers>
			<bettercontact>
				<class>BD_BetterContact_Helper</class>
			</bettercontact>
		</helpers>

		<template>
			<email>
				<bettercontact_email_email_template translate="label" module="bettercontact">
					<label>BD BetterContact Form</label>
					<file>bettercontact_form.html</file>
					<type>text</type>
				</bettercontact_email_email_template>
			</email>
		</template>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<BD_BetterContact>
					<files>
						<default>BD_BetterContact.csv</default>
					</files>
				</BD_BetterContact>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bettercontact translate="title" module="bettercontact">
											<title>BetterContact Section</title>
										</bettercontact>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<bettercontact>
			<bettercontact>
				<enabled>1</enabled>
			</bettercontact>
			<email>
				<recipient_email><![CDATA[tristan@example.com]]></recipient_email>
				<sender_email_identity>custom2</sender_email_identity>
				<email_template>bettercontact_email_email_template</email_template>
			</email>
		</bettercontact>
	</default>
</config>